pre.src{color:#655370;background-color:#fbf8ef}
.org-ahs{color:#f8f8ff;background-color:#8b8b7a}
.org-ahs-definition{color:#ffe4b5;background-color:#5f9ea0;text-decoration:underline}
.org-ahs-edit-mode{color:#fff;background-color:#cd5b45}
.org-ahs-plugin-bod{color:#000;background-color:#1e90ff}
.org-ahs-plugin-defalt{color:#000;background-color:orange}
.org-ahs-plugin-whole-buffer{color:#000;background-color:#adff2f}
.org-ahs-warning{color:red;font-weight:700}
.org-anzu-match-1{color:#000;background-color:#7fffd4}
.org-anzu-match-2{color:#000;background-color:#00ff7f}
.org-anzu-match-3{color:#000;background-color:#ff0}
.org-anzu-mode-line{color:#b1951d;font-weight:700}
.org-anzu-replace-highlight{color:#fbf8ef;background-color:#2f96dc;font-weight:700}
.org-anzu-replace-to{color:red}
.org-bgXerc-color-face0{background-color:#fff}
.org-bgXerc-color-face1{background-color:#000}
.org-bgXerc-color-face10{background-color:#bfefff}
.org-bgXerc-color-face11{background-color:#0ff}
.org-bgXerc-color-face12{background-color:#00f}
.org-bgXerc-color-face13{background-color:#ff1493}
.org-bgXerc-color-face14{background-color:#7f7f7f}
.org-bgXerc-color-face15{background-color:#e5e5e5}
.org-bgXerc-color-face2{background-color:#00008b}
.org-bgXerc-color-face3{background-color:#008b00}
.org-bgXerc-color-face4{background-color:red}
.org-bgXerc-color-face5{background-color:brown}
.org-bgXerc-color-face6{background-color:#a020f0}
.org-bgXerc-color-face7{background-color:orange}
.org-bgXerc-color-face8{background-color:#ff0}
.org-bgXerc-color-face9{background-color:#0f0}
.org-bold{font-weight:700}
.org-bold-italic{font-weight:700;font-style:italic}
.org-bookmark-menu-bookmark{font-weight:700}
.org-bookmark-menu-heading{color:#ba2f59;font-weight:700}
.org-buffer-menu-buffer{font-weight:700}
.org-builtin{color:#1f71ab}
.org-button{color:#2aa1ae;text-decoration:underline}
.org-c-annotation{color:#4e3163}
.org-c-nonbreakable-space{background-color:#fd971f}
.org-calendar-month-header{color:#6c3163;font-weight:700}
.org-calendar-today{text-decoration:underline}
.org-calendar-weekday-header{color:#4e3163}
.org-calendar-weekend-header{color:#2aa1ae;background-color:#ecf3ec}
.org-change-log-acknowledgment{color:#2aa1ae;background-color:#ecf3ec}
.org-change-log-conditionals{color:#715ab1}
.org-change-log-date{color:#2d9574}
.org-change-log-email{color:#715ab1}
.org-change-log-file{color:#6c3163;font-weight:700}
.org-change-log-function{color:#715ab1}
.org-change-log-list{color:#237fbf;font-weight:700}
.org-change-log-name{color:#4e3163}
.org-cider-debug-code-overlay{background-color:#ccc}
.org-cider-debug-prompt{color:#1f71ab;text-decoration:underline}
.org-cider-deprecated{background-color:#eedd82}
.org-cider-docview-emphasis{color:#655370;background-color:#fbf8ef;text-decoration:underline}
.org-cider-docview-literal{color:#2d9574}
.org-cider-docview-strong{color:#655370;background-color:#fbf8ef;font-weight:700;text-decoration:underline}
.org-cider-docview-table-border{color:#7f7f7f}
.org-cider-error-highlight{text-decoration:underline}
.org-cider-repl-input{font-weight:700}
.org-cider-repl-prompt{color:#237fbf;font-weight:700}
.org-cider-repl-stderr{color:#dc752f;background-color:#fbf8ef}
.org-cider-repl-stdout{color:#2d9574}
.org-cider-result-overlay{color:#1f71ab}
.org-cider-stacktrace{color:#655370;background-color:#fbf8ef}
.org-cider-stacktrace-error-class{color:#dc752f;background-color:#fbf8ef}
.org-cider-stacktrace-error-message{color:#2aa1ae}
.org-cider-stacktrace-filter-hidden{color:#2aa1ae}
.org-cider-stacktrace-filter-shown{color:#2aa1ae;text-decoration:underline}
.org-cider-stacktrace-fn{color:#655370;background-color:#fbf8ef;font-weight:700}
.org-cider-stacktrace-ns{color:#2aa1ae;background-color:#ecf3ec}
.org-cider-test-error{background-color:orange}
.org-cider-test-failure{background-color:#ff4500}
.org-cider-test-success{color:#000;background-color:#0f0}
.org-cider-warning-highlight{text-decoration:underline}
.org-clojure-character{color:#2d9574}
.org-clojure-interop-method{color:#6c3163}
.org-clojure-keyword{color:#4e3163}
.org-comint-highlight-input{font-weight:700}
.org-comint-highlight-prompt{color:#237fbf;font-weight:700}
.org-comment{color:#2aa1ae;background-color:#ecf3ec;font-style:normal}
.org-comment-delimiter{color:#2aa1ae;background-color:#ecf3ec}
.org-company-echo-common{color:#fbf8ef;background-color:#655370}
.org-company-preview{color:#8c799f;background-color:#e2e0ea}
.org-company-preview-common{color:#655370;background-color:#e2e0ea}
.org-company-preview-search{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-company-scrollbar-bg{background-color:#efeae9}
.org-company-scrollbar-fg{background-color:#d3d3e7}
.org-company-template-field{background-color:#d3d3e7}
.org-company-tooltip{color:#8c799f;background-color:#e2e0ea}
.org-company-tooltip-annotation{color:#2f96dc;background-color:#e2e0ea}
.org-company-tooltip-common{color:#655370;background-color:#e2e0ea;font-weight:700}
.org-company-tooltip-common-selection{color:#655370;background-color:#c8c6dd;font-weight:700}
.org-company-tooltip-mouse{color:#655370;background-color:#e3dedd}
.org-company-tooltip-search{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-company-tooltip-selection{color:#655370;background-color:#c8c6dd}
.org-company-web-doc-attribute{color:#ba2f59;font-weight:700}
.org-company-web-doc-base{color:navy}
.org-company-web-doc-header-1{color:navy;font-weight:700}
.org-company-web-doc-important{color:navy;font-weight:700}
.org-company-web-doc-tag{color:#6c3163;font-weight:700}
.org-company-web-doc-text-1{color:navy}
.org-company-web-doc-warning{color:#dc752f;background-color:#fbf8ef}
.org-compilation-column-number{color:#2aa1ae}
.org-compilation-error{color:#e0211d}
.org-compilation-info{color:#86dc2f}
.org-compilation-line-number{color:#237fbf;font-weight:700}
.org-compilation-mode-line-exit{color:#228b22;font-weight:700}
.org-compilation-mode-line-fail{color:red;font-weight:700}
.org-compilation-mode-line-run{color:#dc752f}
.org-compilation-warning{color:#dc752f}
.org-completions-annotations{font-style:italic}
.org-completions-first-difference{font-weight:700}
.org-constant{color:#4e3163}
.org-corelv-separator{background-color:#ccc}
.org-cursor{background-color:#eead0e}
.org-custom-button{color:#655370;background-color:#efeae9}
.org-custom-button-mouse{color:#000;background-color:#e5e5e5}
.org-custom-button-pressed{color:#000;background-color:#d3d3d3}
.org-custom-button-pressed-unraised{color:#8b008b;text-decoration:underline}
.org-custom-button-unraised{text-decoration:underline}
.org-custom-changed{color:#fff;background-color:#00f}
.org-custom-comment{background-color:#d9d9d9}
.org-custom-comment-tag{color:#00008b}
.org-custom-face-tag{color:#00f;font-weight:700}
.org-custom-group-subtitle{font-weight:700}
.org-custom-group-tag{color:#00f;font-size:120%;font-weight:700}
.org-custom-group-tag-1{color:red;font-size:120%;font-weight:700}
.org-custom-invalid{color:#ff0;background-color:red}
.org-custom-link{color:#2aa1ae;text-decoration:underline}
.org-custom-modified{color:#fff;background-color:#00f}
.org-custom-rogue{color:pink;background-color:#000}
.org-custom-saved{text-decoration:underline}
.org-custom-set{color:#00f;background-color:#fff}
.org-custom-state{color:#006400}
.org-custom-themed{color:#fff;background-color:#00f}
.org-custom-variable-button{font-weight:700;text-decoration:underline}
.org-custom-variable-tag{color:#00f;font-weight:700}
.org-custom-visibility{color:#2aa1ae;font-size:80%;text-decoration:underline}
.org-describe-variable-value{color:#b22222}
.org-diary{color:red}
.org-diff-added{color:#67b11d}
.org-diff-changed{color:#2f96dc}
.org-diff-context{color:#7f7f7f}
.org-diff-file-header{background-color:#b3b3b3;font-weight:700}
.org-diff-function{color:#6c3163;background-color:#ddd8eb}
.org-diff-header{color:#6c3163;background-color:#ddd8eb}
.org-diff-hl-change{background-color:#2f96dc}
.org-diff-hl-delete{background-color:#e0211d}
.org-diff-hl-insert{background-color:#86dc2f}
.org-diff-hunk-header{color:#6c3163;background-color:#ddd8eb}
.org-diff-index{background-color:#b3b3b3;font-weight:700}
.org-diff-indicator-added{color:#67b11d}
.org-diff-indicator-changed{color:#2f96dc}
.org-diff-indicator-removed{color:#f2241f}
.org-diff-nonexistent{background-color:#b3b3b3;font-weight:700}
.org-diff-refine-added{color:#d2ceda;background-color:#67b11d}
.org-diff-refine-changed{color:#d2ceda;background-color:#2f96dc}
.org-diff-refine-removed{color:#d2ceda;background-color:#f2241f}
.org-diff-removed{color:#f2241f}
.org-dired-directory{color:#4f97d7;background-color:#fbf8ef;font-weight:700}
.org-dired-flagged{color:#f2241f}
.org-dired-header{color:#6c4173;font-weight:700}
.org-dired-ignored{color:#7f7f7f}
.org-dired-mark{color:#6c4173;font-weight:700}
.org-dired-marked{color:#a31db1;font-weight:700}
.org-dired-perm-write{color:#655370;text-decoration:underline}
.org-dired-symlink{color:#21b8c7;background-color:#fbf8ef;font-weight:700}
.org-dired-warning{color:#dc752f}
.org-doc{color:#2aa1ae}
.org-eieio-custom-slot-tag{color:#00f}
.org-eldoc-highlight-function-argument{color:#f2241f;font-weight:700}
.org-emmet-preview-input{background-color:#e3dedd}
.org-emmet-preview-output{color:#655370;background-color:#e3dedd}
.org-erc-action{font-weight:700}
.org-erc-bold{font-weight:700}
.org-erc-button{font-weight:700}
.org-erc-command-indicator{font-weight:700}
.org-erc-current-nick{color:#00ced1;font-weight:700}
.org-erc-dangerous-host{color:red}
.org-erc-direct-msg{color:#cd5c5c}
.org-erc-error{color:red}
.org-erc-fool{color:#696969}
.org-erc-header-line{color:#333;background-color:#e5e5e5}
.org-erc-input{color:#6c3163}
.org-erc-inverse{color:#fff;background-color:#000}
.org-erc-keyword{color:#98fb98;font-weight:700}
.org-erc-my-nick{color:#4f97d7}
.org-erc-my-nick-prefix{color:#2f96dc;font-weight:700}
.org-erc-nick-default{color:#2f96dc}
.org-erc-nick-msg{color:#cd5c5c;font-weight:700}
.org-erc-nick-prefix{color:#b1951d}
.org-erc-notice{color:#2d9574}
.org-erc-pal{color:#f0f;font-weight:700}
.org-erc-prompt{color:#67b11d;font-weight:700}
.org-erc-timestamp{color:#1f71ab}
.org-erc-underline{text-decoration:underline}
.org-error{color:#e0211d}
.org-ert-test-result-expected{background-color:#0f0}
.org-ert-test-result-unexpected{background-color:red}
.org-escape-glyph{color:brown}
.org-eval-sexp-fu-flash{color:#fbf8ef;background-color:#86dc2f}
.org-eval-sexp-fu-flash-error{color:#fbf8ef;background-color:#e0211d}
.org-evil-ex-commands{font-style:italic;text-decoration:underline}
.org-evil-ex-info{color:red;font-style:italic}
.org-evil-ex-lazy-highlight{color:#fbf8ef;background-color:#2f96dc}
.org-evil-ex-search{color:#fbf8ef;background-color:#2f96dc;font-weight:700}
.org-evil-ex-substitute-matches{color:#fbf8ef;background-color:#2f96dc}
.org-evil-ex-substitute-replacement{color:red;text-decoration:underline}
.org-eyebrowse-mode-line-active{font-weight:700}
.org-ffap{color:#655370}
.org-fgXerc-color-face0{color:#fff}
.org-fgXerc-color-face1{color:#000}
.org-fgXerc-color-face10{color:#bfefff}
.org-fgXerc-color-face11{color:#0ff}
.org-fgXerc-color-face12{color:#00f}
.org-fgXerc-color-face13{color:#ff1493}
.org-fgXerc-color-face14{color:#7f7f7f}
.org-fgXerc-color-face15{color:#e5e5e5}
.org-fgXerc-color-face2{color:#00008b}
.org-fgXerc-color-face3{color:#008b00}
.org-fgXerc-color-face4{color:red}
.org-fgXerc-color-face5{color:brown}
.org-fgXerc-color-face6{color:#a020f0}
.org-fgXerc-color-face7{color:orange}
.org-fgXerc-color-face8{color:#ff0}
.org-fgXerc-color-face9{color:#0f0}
.org-file-name-shadow{color:#7f7f7f}
.org-flx-highlight{color:#6c4173}
.org-fringe{color:#655370;background-color:#fbf8ef}
.org-function-name{color:#6c3163;font-weight:700}
.org-git-commit-comment-action{color:#715ab1}
.org-git-commit-comment-branch{color:#715ab1}
.org-git-commit-comment-detached{color:#715ab1}
.org-git-commit-comment-file{color:#2d9574}
.org-git-commit-comment-heading{color:#237fbf;font-weight:700}
.org-git-commit-known-pseudo-header{color:#237fbf;font-weight:700}
.org-git-commit-nonempty-second-line{color:#dc752f;background-color:#fbf8ef}
.org-git-commit-note{color:#2d9574}
.org-git-commit-overlong-summary{color:#dc752f;background-color:#fbf8ef}
.org-git-commit-pseudo-header{color:#2d9574}
.org-git-commit-summary{color:#ba2f59;font-weight:700}
.org-git-rebase-hash{color:#999}
.org-git-rebase-killed-action{color:#2aa1ae;background-color:#ecf3ec;text-decoration:line-through}
.org-glyphless-char{font-size:60%}
.org-grizzl-selection{color:red}
.org-haskell-constructor{color:#ba2f59;font-weight:700}
.org-haskell-debug-muted{color:#999}
.org-haskell-debug-newline{background-color:#f0f0f0;font-weight:700}
.org-haskell-debug-trace-number{background-color:#f5f5f5;font-weight:700}
.org-haskell-error{text-decoration:underline}
.org-haskell-hole{text-decoration:underline}
.org-haskell-interactive-face-compile-error{color:#e0211d}
.org-haskell-interactive-face-compile-warning{color:#dc752f}
.org-haskell-interactive-face-garbage{color:#2d9574}
.org-haskell-interactive-face-prompt{color:#6c3163;font-weight:700}
.org-haskell-interactive-face-result{color:#2d9574}
.org-haskell-keyword{color:#237fbf;font-weight:700}
.org-haskell-literate-comment{color:#2aa1ae}
.org-haskell-operator{color:#715ab1}
.org-haskell-pragma{color:#6c3163}
.org-haskell-warning{text-decoration:underline}
.org-header-line{color:#333;background-color:#e5e5e5}
.org-helm-action{text-decoration:underline}
.org-helm-bookmark-addressbook{color:tomato}
.org-helm-bookmark-directory{color:#4f97d7;background-color:#fbf8ef;font-weight:700}
.org-helm-bookmark-file{color:#655370}
.org-helm-bookmark-gnus{color:#6c4173}
.org-helm-bookmark-info{color:#6c4173}
.org-helm-bookmark-man{color:#6c4173}
.org-helm-bookmark-w3m{color:#6c4173}
.org-helm-buffer-directory{color:#655370;background-color:#fbf8ef}
.org-helm-buffer-file{color:#655370;background-color:#fbf8ef}
.org-helm-buffer-not-saved{color:#6c4173;background-color:#fbf8ef}
.org-helm-buffer-process{color:#1f71ab;background-color:#fbf8ef}
.org-helm-buffer-saved-out{color:#655370;background-color:#fbf8ef}
.org-helm-buffer-size{color:#655370;background-color:#fbf8ef}
.org-helm-candidate-number{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-helm-etags-file{color:#8b814c;text-decoration:underline}
.org-helm-ff-directory{color:#4f97d7;background-color:#fbf8ef;font-weight:700}
.org-helm-ff-dotted-directory{color:#4f97d7;background-color:#fbf8ef;font-weight:700}
.org-helm-ff-dotted-symlink-directory{color:#ff8c00;background-color:#696969}
.org-helm-ff-executable{color:#86dc2f;background-color:#fbf8ef}
.org-helm-ff-file{color:#655370;background-color:#fbf8ef}
.org-helm-ff-invalid-symlink{color:#f2241f;background-color:#fbf8ef;font-weight:700}
.org-helm-ff-prefix{color:#fbf8ef;background-color:#237fbf}
.org-helm-ff-symlink{color:#21b8c7;background-color:#fbf8ef;font-weight:700}
.org-helm-grep-cmd-line{color:#655370;background-color:#fbf8ef}
.org-helm-grep-file{color:#655370;background-color:#fbf8ef}
.org-helm-grep-finish{color:#655370;background-color:#fbf8ef}
.org-helm-grep-lineno{color:#655370;background-color:#fbf8ef}
.org-helm-grep-match{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-helm-gtags-file{color:#237fbf;font-weight:700}
.org-helm-gtags-lineno{color:#2aa1ae}
.org-helm-gtags-match{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-helm-header{color:#655370;background-color:#fbf8ef}
.org-helm-header-line-left-margin{color:#2f96dc}
.org-helm-helper{color:#655370;background-color:#fbf8ef}
.org-helm-history-deleted{color:#f2241f;background-color:#fbf8ef;font-weight:700}
.org-helm-history-remote{color:#ff6a6a}
.org-helm-lisp-completion-info{color:red}
.org-helm-lisp-show-completion{background-color:#2f4f4f}
.org-helm-locate-finish{color:#0f0}
.org-helm-m-x-key{color:orange;text-decoration:underline}
.org-helm-match{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-helm-match-item{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-helm-moccur-buffer{color:#6c3163;background-color:#fbf8ef}
.org-helm-resume-need-update{background-color:red}
.org-helm-selection{background-color:#d3d3e7}
.org-helm-selection-line{background-color:#efeae9}
.org-helm-separator{color:#6c4173;background-color:#fbf8ef}
.org-helm-source-header{color:#272822;background-color:#21889b;font-weight:700}
.org-helm-visible-mark{color:#2f96dc;background-color:#e3dedd}
.org-help-argument-name{font-style:italic}
.org-hide-ifdef-shadow{color:#7f7f7f}
.org-highlight{color:#655370;background-color:#e3dedd}
.org-highlight-numbers-number{color:#4e3163}
.org-hl-line{background-color:#efeae9}
.org-hlt-property-highlight{background-color:wheat}
.org-holiday{background-color:pink}
.org-hydra-face-amaranth{color:#e52b50;font-weight:700}
.org-hydra-face-blue{color:#00f;font-weight:700}
.org-hydra-face-pink{color:#ff6eb4;font-weight:700}
.org-hydra-face-red{color:red;font-weight:700}
.org-hydra-face-teal{color:#367588;font-weight:700}
.org-ido-first-match{color:#6c4173;font-weight:700}
.org-ido-incomplete-regexp{color:#dc752f;background-color:#fbf8ef}
.org-ido-indicator{color:#ff0;background-color:red}
.org-ido-only-match{color:#f2241f;font-weight:700}
.org-ido-subdir{color:#4f97d7}
.org-ido-vertical-first-match{color:#6c4173;font-weight:700}
.org-ido-vertical-match{color:#6c4173}
.org-ido-vertical-only-match{color:#f2241f;font-weight:700}
.org-ido-virtual{color:#1f71ab}
.org-info-command-ref-item{color:#00f;background-color:#d3d3d3}
.org-info-constant-ref-item{color:#ff1493;background-color:#d3d3d3}
.org-info-double-quoted-name{color:#ff8c00}
.org-info-file{color:#00f;background-color:#d3d3d3}
.org-info-function-ref-item{color:#00008b;background-color:#d3d3d3}
.org-info-header-node{color:#6c3163;font-weight:700}
.org-info-header-xref{color:#6c3163;text-decoration:underline}
.org-info-index-match{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-info-macro-ref-item{color:#8b008b;background-color:#d3d3d3}
.org-info-menu{color:#86dc2f}
.org-info-menu-header{font-weight:700}
.org-info-menu-star{color:red}
.org-info-node{color:#6c3163;font-weight:700}
.org-info-quoted-name{color:#1f71ab}
.org-info-reference-item{font-weight:700;text-decoration:underline}
.org-info-single-quote{color:#f0f;font-weight:700}
.org-info-special-form-ref-item{color:#8b008b;background-color:#d3d3d3}
.org-info-string{color:#2d9574}
.org-info-syntax-class-item{color:#006400;background-color:#d3d3d3}
.org-info-title-1{color:#655370;background-color:#fbf8ef;font-weight:700}
.org-info-title-2{color:#655370;background-color:#fbf8ef;font-weight:700}
.org-info-title-3{color:#655370;background-color:#fbf8ef;font-weight:700}
.org-info-title-4{color:#655370;background-color:#fbf8ef;font-weight:700}
.org-info-user-option-ref-item{color:red;background-color:#d3d3d3}
.org-info-variable-ref-item{color:#b22222;background-color:#d3d3d3}
.org-info-xref{color:#2aa1ae;text-decoration:underline}
.org-isearch{color:#fbf8ef;background-color:#2f96dc;font-weight:700}
.org-isearch-fail{background-color:#ffc1c1}
.org-italic{font-style:italic}
.org-js2-private-function-call{color:#4e3163}
.org-keyword{color:#237fbf;font-weight:700}
.org-lazy-highlight{color:#fbf8ef;background-color:#2f96dc}
.org-link{color:#2aa1ae;text-decoration:underline}
.org-link-visited{color:#6c4173;text-decoration:underline}
.org-linum{color:#a8a8bf;background-color:#efeae9}
.org-log-edit-header{color:#237fbf;font-weight:700}
.org-log-edit-summary{color:#6c3163;font-weight:700}
.org-log-edit-unknown-header{color:#2aa1ae;background-color:#ecf3ec}
.org-lv-separator{background-color:#ccc}
.org-magit-bisect-bad{color:#8b3a3a}
.org-magit-bisect-good{color:#556b2f}
.org-magit-bisect-skip{color:#b8860b}
.org-magit-blame-date{color:#67b11d;background-color:#f6f1e1}
.org-magit-blame-hash{color:#6c3163;background-color:#f6f1e1}
.org-magit-blame-heading{color:#67b11d;background-color:#f6f1e1}
.org-magit-blame-name{color:#b1951d;background-color:#f6f1e1}
.org-magit-blame-summary{color:#b1951d;background-color:#f6f1e1}
.org-magit-branch-current{color:#2f96dc;background-color:#edf1ed;font-weight:700}
.org-magit-branch-local{color:#2f96dc;background-color:#edf1ed;font-weight:700}
.org-magit-branch-remote{color:#2d9574;background-color:#edf2e9;font-weight:700}
.org-magit-cherry-equivalent{color:#f0f}
.org-magit-cherry-unmatched{color:#0ff}
.org-magit-diff-added{color:#2a2;background-color:#dfd}
.org-magit-diff-added-highlight{color:#2a2;background-color:#cec}
.org-magit-diff-base{color:#aa1;background-color:#ffc}
.org-magit-diff-base-highlight{color:#aa1;background-color:#eeb}
.org-magit-diff-conflict-heading{color:#4d4d4d;background-color:#ccc}
.org-magit-diff-context{color:#7f7f7f}
.org-magit-diff-context-highlight{color:#655370;background-color:#e3dedd}
.org-magit-diff-file-heading{font-weight:700}
.org-magit-diff-file-heading-selection{color:#8b4c39;background-color:#efeae9;font-weight:700}
.org-magit-diff-hunk-heading{color:#4d4d4d;background-color:#ccc}
.org-magit-diff-hunk-heading-highlight{color:#4d4d4d;background-color:#bfbfbf}
.org-magit-diff-hunk-heading-selection{color:#8b4c39;background-color:#bfbfbf}
.org-magit-diff-lines-boundary{color:#4d4d4d;background-color:#cd8162}
.org-magit-diff-lines-heading{color:#4d4d4d;background-color:#cd8162}
.org-magit-diff-our{color:#a22;background-color:#fdd}
.org-magit-diff-our-highlight{color:#a22;background-color:#ecc}
.org-magit-diff-removed{color:#a22;background-color:#fdd}
.org-magit-diff-removed-highlight{color:#a22;background-color:#ecc}
.org-magit-diff-their{color:#2a2;background-color:#dfd}
.org-magit-diff-their-highlight{color:#2a2;background-color:#cec}
.org-magit-diff-whitespace-warning{background-color:#e0211d}
.org-magit-diffstat-added{color:#2a2}
.org-magit-diffstat-removed{color:#a22}
.org-magit-dimmed{color:#7f7f7f}
.org-magit-hash{color:#715ab1}
.org-magit-head{color:#2f96dc;background-color:#edf1ed;font-weight:700}
.org-magit-header-line{color:#237fbf;font-weight:700}
.org-magit-log-author{color:#6c3163}
.org-magit-log-date{color:#4d4d4d}
.org-magit-log-graph{color:#4d4d4d}
.org-magit-popup-argument{color:#dc752f;background-color:#fbf8ef}
.org-magit-popup-disabled-argument{color:#7f7f7f}
.org-magit-popup-heading{color:#237fbf;font-weight:700}
.org-magit-popup-key{color:#1f71ab}
.org-magit-popup-option-value{color:#2d9574}
.org-magit-process-ng{color:#dc752f;font-weight:700}
.org-magit-process-ok{color:#6c3163;font-weight:700}
.org-magit-reflog-amend{color:#f0f}
.org-magit-reflog-checkout{color:#00f}
.org-magit-reflog-cherry-pick{color:#0f0}
.org-magit-reflog-commit{color:#0f0}
.org-magit-reflog-merge{color:#0f0}
.org-magit-reflog-other{color:#0ff}
.org-magit-reflog-rebase{color:#f0f}
.org-magit-reflog-remote{color:#0ff}
.org-magit-reflog-reset{color:red}
.org-magit-refname{color:#4d4d4d}
.org-magit-refname-stash{color:#4d4d4d}
.org-magit-refname-wip{color:#4d4d4d}
.org-magit-section-heading{color:#237fbf;font-weight:700}
.org-magit-section-heading-selection{color:#8b4c39}
.org-magit-section-highlight{background-color:#efeae9}
.org-magit-section-secondary-heading{font-weight:700}
.org-magit-sequence-done{color:#715ab1}
.org-magit-sequence-drop{color:#cd5c5c}
.org-magit-sequence-head{color:#4a708b}
.org-magit-sequence-onto{color:#715ab1}
.org-magit-sequence-part{color:#8b6914}
.org-magit-sequence-pick{color:#655370;background-color:#fbf8ef}
.org-magit-sequence-stop{color:#6e8b3d}
.org-magit-signature-bad{color:red}
.org-magit-signature-good{color:#0f0}
.org-magit-signature-untrusted{color:#0ff}
.org-magit-tag{color:#8b6914}
.org-makefile-makepp-perl{background-color:#bfefff}
.org-makefile-space{background-color:#ff69b4}
.org-makefile-targets{color:#6c3163;font-weight:700}
.org-match{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-mcXregion{background-color:#d3d3e7}
.org-message-cited-text{color:red}
.org-message-header-cc{color:#191970}
.org-message-header-name{color:#6495ed}
.org-message-header-newsgroups{color:#00008b;font-weight:700;font-style:italic}
.org-message-header-other{color:#4682b4}
.org-message-header-subject{color:navy;font-weight:700}
.org-message-header-to{color:#191970;font-weight:700}
.org-message-header-xheader{color:#00f}
.org-message-mml{color:#228b22}
.org-message-separator{color:brown}
.org-minibuffer-prompt{color:#237fbf;font-weight:700}
.org-mm-command-output{color:#cd0000}
.org-mode-line{color:#655370;background-color:#e7e5eb}
.org-mode-line-buffer-id{color:#6c3163;font-weight:700}
.org-mode-line-emphasis{font-weight:700}
.org-mode-line-inactive{color:#655370;background-color:#fbf8ef}
.org-nameless{color:#ba2f59;font-weight:700}
.org-negation-char{color:#4e3163}
.org-next-error{background-color:#d3d3e7}
.org-nobreak-space{color:brown;text-decoration:underline}
.org-org-agenda-calendar-event{color:#655370;background-color:#fbf8ef}
.org-org-agenda-calendar-sexp{color:#655370;background-color:#fbf8ef}
.org-org-agenda-clocking{color:#6c4173;background-color:#d3d3e7}
.org-org-agenda-column-dateline{background-color:#d3d3e7}
.org-org-agenda-current-time{color:#b8860b}
.org-org-agenda-date{color:#715ab1;font-size:110%}
.org-org-agenda-date-today{color:#237fbf;font-size:130%;font-weight:700;font-style:italic}
.org-org-agenda-date-weekend{color:#715ab1;font-weight:700}
.org-org-agenda-diary{color:#655370;background-color:#fbf8ef}
.org-org-agenda-dimmed-todo{color:#7f7f7f}
.org-org-agenda-done{color:#67b11d;font-size:120%}
.org-org-agenda-filter-category{color:#655370;background-color:#e7e5eb}
.org-org-agenda-filter-regexp{color:#655370;background-color:#e7e5eb}
.org-org-agenda-filter-tags{color:#655370;background-color:#e7e5eb}
.org-org-agenda-restriction-lock{background-color:#eee}
.org-org-agenda-structure{color:#6c4173;font-weight:700}
.org-org-archived{color:#7f7f7f}
.org-org-block{color:#655370;background-color:#e8e3f0}
.org-org-block-begin-line{color:#9380b2;background-color:#ddd8eb}
.org-org-block-end-line{color:#9380b2;background-color:#ddd8eb}
.org-org-checkbox{font-weight:700}
.org-org-checkbox-statistics-done{color:#67b11d;background-color:#f1f3e1;font-weight:700;text-decoration:overline}
.org-org-checkbox-statistics-todo{color:#dc752f;background-color:#f6f1e1;font-weight:700;text-decoration:overline}
.org-org-clock-overlay{color:#6c4173}
.org-org-code{color:#21b8c7}
.org-org-column{background-color:#d3d3e7}
.org-org-column-title{background-color:#d3d3e7}
.org-org-date{color:#715ab1;text-decoration:underline}
.org-org-date-selected{color:#fbf8ef;background-color:#6c3163}
.org-org-default{color:#655370;background-color:#fbf8ef}
.org-org-document-info{color:#191970}
.org-org-document-info-keyword{color:#da8b55}
.org-org-document-title{color:#6c3163;background-color:#fbf8ef;font-weight:700;text-decoration:underline}
.org-org-done{color:#67b11d;background-color:#f1f3e1;font-weight:700;text-decoration:overline}
.org-org-drawer{color:#00f}
.org-org-ellipsis{color:#1f71ab}
.org-org-footnote{color:#655370;text-decoration:underline}
.org-org-formula{color:#b22222}
.org-org-headline-done{color:#bc8f8f}
.org-org-hide{color:#655370}
.org-org-indent{color:#655370}
.org-org-kbd{color:#655370;background-color:#d3d3e7}
.org-org-latex-and-related{color:#8b4513}
.org-org-level-1{color:#2f96dc;background-color:#edf1ed;font-weight:700;text-decoration:overline}
.org-org-level-2{color:#2d9574;background-color:#edf2e9;font-weight:700}
.org-org-level-3{color:#67b11d;background-color:#f1f3e1;font-weight:700}
.org-org-level-4{color:#b1951d;background-color:#f6f1e1;font-weight:700}
.org-org-level-5{color:#2f96dc;background-color:#fbf8ef;font-weight:700}
.org-org-level-6{color:#2d9574;background-color:#fbf8ef;font-weight:700}
.org-org-level-7{color:#67b11d;background-color:#fbf8ef;font-weight:700}
.org-org-level-8{color:#b1951d;background-color:#fbf8ef;font-weight:700}
.org-org-link{color:#2aa1ae;text-decoration:underline}
.org-org-list-dt{font-weight:700}
.org-org-macro{color:#8b4513}
.org-org-meta-line{color:#da8b55}
.org-org-mode-line-clock{color:#655370;background-color:#e7e5eb}
.org-org-mode-line-clock-overrun{color:#e0211d}
.org-org-priority{color:#dc752f;font-weight:700}
.org-org-quote{color:#655370;background-color:#e8e3f0;font-style:italic}
.org-org-scheduled{color:#6c4173}
.org-org-scheduled-previously{color:#b22222}
.org-org-scheduled-today{color:#6c3163;font-size:120%}
.org-org-sexp-date{color:#655370}
.org-org-special-keyword{color:#6c3163}
.org-org-table{color:#b1951d;background-color:#f6f1e1}
.org-org-tag{font-weight:700}
.org-org-tag-group{font-weight:700}
.org-org-target{text-decoration:underline}
.org-org-time-grid{color:#b8860b}
.org-org-todo{color:#dc752f;background-color:#f6f1e1;font-weight:700;text-decoration:overline}
.org-org-upcoming-deadline{color:#b22222}
.org-org-verbatim{color:#2f96dc}
.org-org-verse{color:#655370;background-color:#e8e3f0;font-style:italic}
.org-org-warning{color:#e0211d}
.org-outline-1{color:#6c3163;font-weight:700}
.org-outline-2{color:#715ab1}
.org-outline-3{color:#237fbf;font-weight:700}
.org-outline-4{color:#2aa1ae;background-color:#ecf3ec}
.org-outline-5{color:#ba2f59;font-weight:700}
.org-outline-6{color:#4e3163}
.org-outline-7{color:#1f71ab}
.org-outline-8{color:#2d9574}
.org-page-break-lines{color:#d3d3e7}
.org-powerline-active1{color:#655370;background-color:#d3d3e7}
.org-powerline-active2{color:#655370;background-color:#d3d3e7}
.org-powerline-inactive1{color:#655370;background-color:#efeae9}
.org-powerline-inactive2{color:#655370;background-color:#efeae9}
.org-preprocessor{color:#6c3163}
.org-pulse-highlight{background-color:#ffa}
.org-pulse-highlight-start{background-color:#ffa}
.org-query-replace{color:#fbf8ef;background-color:#2f96dc;font-weight:700}
.org-rainbow-delimiters-depth-1{color:#2f96dc}
.org-rainbow-delimiters-depth-2{color:#6c3163}
.org-rainbow-delimiters-depth-3{color:#2d9574}
.org-rainbow-delimiters-depth-4{color:#67b11d}
.org-rainbow-delimiters-depth-5{color:#b1951d}
.org-rainbow-delimiters-depth-6{color:#2f96dc}
.org-rainbow-delimiters-depth-7{color:#6c3163}
.org-rainbow-delimiters-depth-8{color:#2d9574}
.org-rainbow-delimiters-depth-9{color:#887070}
.org-rainbow-delimiters-mismatched{color:#e0211d;text-decoration:overline}
.org-rainbow-delimiters-unmatched{color:#e0211d;text-decoration:overline}
.org-regexp-grouping-backslash{font-weight:700}
.org-regexp-grouping-construct{font-weight:700}
.org-region{background-color:#d3d3e7}
.org-secondary-selection{background-color:#e3dedd}
.org-semantic-decoration-on-private-members{background-color:#8fffff}
.org-semantic-decoration-on-protected-members{background-color:#fffff8}
.org-semantic-highlight-edits{background-color:#e5e5e5}
.org-semantic-highlight-func-current-tag{background-color:#e5e5e5}
.org-semantic-idle-symbol-highlight{background-color:#d3d3e7}
.org-semantic-tag-boundary{text-decoration:overline}
.org-semantic-unmatched-syntax{text-decoration:underline}
.org-senator-momentary-highlight{background-color:#b3b3b3}
.org-sgml-namespace{color:#1f71ab}
.org-sh-escaped-newline{color:#2d9574}
.org-sh-heredoc{color:#ffa54f}
.org-sh-quoted-exec{color:#f0f}
.org-shadow{color:#7f7f7f}
.org-show-paren-match{background-color:#40e0d0}
.org-show-paren-mismatch{color:#fff;background-color:#a020f0}
.org-smerge-base{background-color:#ffa}
.org-smerge-markers{background-color:#d9d9d9}
.org-smerge-mine{background-color:#fdd}
.org-smerge-other{background-color:#dfd}
.org-smerge-refined-added{background-color:#afa}
.org-smerge-refined-removed{background-color:#fbb}
.org-sp-pair-overlay{background-color:#d3d3e7}
.org-sp-show-pair-enclosing{color:#655370;background-color:#e3dedd}
.org-sp-show-pair-match{color:#f2241f;font-weight:700;text-decoration:underline}
.org-sp-show-pair-mismatch{color:#fff;background-color:#a020f0}
.org-sp-wrap-overlay{background-color:#d3d3e7}
.org-sp-wrap-overlay-closing-pair{color:red;background-color:#d3d3e7}
.org-sp-wrap-overlay-opening-pair{color:#0f0;background-color:#d3d3e7}
.org-sp-wrap-tag-overlay{background-color:#d3d3e7}
.org-spaceline-flycheck-error{color:#fc5c94}
.org-spaceline-flycheck-info{color:#8de6f7}
.org-spaceline-flycheck-warning{color:#f3ea98}
.org-spacemacs-helm-navigation-ms{color:#000;background-color:#fd971f}
.org-spacemacs-ido-navigation-ms{color:#000;background-color:#fd971f;font-weight:700}
.org-spacemacs-micro-state-binding{color:#e0211d;font-weight:700}
.org-spacemacs-micro-state-header{color:#000;background-color:#eead0e;font-weight:700}
.org-spacemacs-mode-line-new-version-lighter-error{color:#e0211d}
.org-spacemacs-mode-line-new-version-lighter-success{color:#86dc2f}
.org-spacemacs-mode-line-new-version-lighter-warning{color:#dc752f}
.org-speedbar-button{color:#008b00}
.org-speedbar-directory{color:#00008b}
.org-speedbar-file{color:#008b8b}
.org-speedbar-highlight{background-color:#0f0}
.org-speedbar-selected{color:red;text-decoration:underline}
.org-speedbar-separator{color:#fff;background-color:#00f;text-decoration:overline}
.org-speedbar-tag{color:brown}
.org-string{color:#2d9574}
.org-success{color:#86dc2f}
.org-tool-bar{color:#000;background-color:#bfbfbf}
.org-tooltip{color:#655370;background-color:#c8c6dd}
.org-trailing-whitespace{background-color:#e0211d}
.org-tty-menu-disabled{color:#d3d3d3;background-color:#00f}
.org-tty-menu-enabled{color:#ff0;background-color:#00f;font-weight:700}
.org-tty-menu-selected{background-color:red}
.org-type{color:#ba2f59;font-weight:700}
.org-underline{text-decoration:underline}
.org-undo-tree-visualizer-active-branch{color:#000;font-weight:700}
.org-undo-tree-visualizer-current{color:#1f71ab}
.org-undo-tree-visualizer-default{color:#655370}
.org-undo-tree-visualizer-register{color:#6c4173}
.org-undo-tree-visualizer-unmodified{color:#715ab1}
.org-variable-name{color:#715ab1}
.org-vertical-border{color:#d2ceda}
.org-vhlXdefault{background-color:#e3dedd}
.org-w3m-haddock-heading{color:#655370;background-color:#e3dedd}
.org-warning{color:#dc752f}
.org-warning-1{color:#dc752f;background-color:#fbf8ef}
.org-web-mode-block{background-color:#ffffe0}
.org-web-mode-block-attr-name{color:#8fbc8f}
.org-web-mode-block-attr-value{color:#5f9ea0}
.org-web-mode-block-comment{color:#2aa1ae;background-color:#ecf3ec}
.org-web-mode-block-control{color:#6c3163}
.org-web-mode-block-delimiter{color:#6c3163}
.org-web-mode-block-string{color:#2d9574}
.org-web-mode-bold{font-weight:700}
.org-web-mode-builtin{color:#1f71ab}
.org-web-mode-comment{color:#2aa1ae;background-color:#ecf3ec}
.org-web-mode-comment-keyword{font-weight:700}
.org-web-mode-constant{color:#4e3163}
.org-web-mode-css-at-rule{color:#4e3163}
.org-web-mode-css-color{color:#1f71ab}
.org-web-mode-css-comment{color:#2aa1ae;background-color:#ecf3ec}
.org-web-mode-css-function{color:#1f71ab}
.org-web-mode-css-priority{color:#1f71ab}
.org-web-mode-css-property-name{color:#715ab1}
.org-web-mode-css-pseudo-class{color:#1f71ab}
.org-web-mode-css-selector{color:#237fbf;font-weight:700}
.org-web-mode-css-string{color:#2d9574}
.org-web-mode-css-variable{color:#715ab1;font-style:italic}
.org-web-mode-current-column-highlight{background-color:#3e3c36}
.org-web-mode-current-element-highlight{background-color:#000}
.org-web-mode-doctype{color:#2aa1ae;background-color:#ecf3ec}
.org-web-mode-error{background-color:red}
.org-web-mode-filter{color:#6c3163;font-weight:700}
.org-web-mode-folded{text-decoration:underline}
.org-web-mode-function-call{color:#6c3163;font-weight:700}
.org-web-mode-function-name{color:#6c3163;font-weight:700}
.org-web-mode-html-attr-custom{color:#6c3163}
.org-web-mode-html-attr-engine{color:#6c3163}
.org-web-mode-html-attr-equal{color:#6c3163}
.org-web-mode-html-attr-name{color:#6c3163}
.org-web-mode-html-attr-value{color:#237fbf}
.org-web-mode-html-entity{font-style:italic}
.org-web-mode-html-tag{color:#1f71ab}
.org-web-mode-html-tag-custom{color:#1f71ab}
.org-web-mode-inlay{background-color:#ffffe0}
.org-web-mode-italic{font-style:italic}
.org-web-mode-javascript-comment{color:#2aa1ae;background-color:#ecf3ec}
.org-web-mode-javascript-string{color:#2d9574}
.org-web-mode-json-comment{color:#2aa1ae;background-color:#ecf3ec}
.org-web-mode-json-context{color:#cd69c9}
.org-web-mode-json-key{color:plum}
.org-web-mode-json-string{color:#2d9574}
.org-web-mode-keyword{color:#237fbf}
.org-web-mode-param-name{color:#cdc9c9}
.org-web-mode-part{background-color:#ffffe0}
.org-web-mode-part-comment{color:#2aa1ae;background-color:#ecf3ec}
.org-web-mode-part-string{color:#2d9574}
.org-web-mode-preprocessor{color:#6c3163}
.org-web-mode-script{background-color:#ffffe0}
.org-web-mode-sql-keyword{font-weight:700;font-style:italic}
.org-web-mode-string{color:#2d9574}
.org-web-mode-style{background-color:#ffffe0}
.org-web-mode-symbol{color:gold}
.org-web-mode-type{color:#ba2f59;font-weight:700}
.org-web-mode-underline{text-decoration:underline}
.org-web-mode-variable-name{color:#715ab1}
.org-web-mode-warning{color:#dc752f;background-color:#fbf8ef}
.org-web-mode-whitespace{background-color:#68228b}
.org-which-func{color:#6c3163}
.org-which-key-command-description{color:#655370}
.org-which-key-group-description{color:#277bb8}
.org-which-key-highlighted-command{color:#655370;text-decoration:underline}
.org-which-key-key{color:#6c3163;font-weight:700}
.org-which-key-local-map-description{color:#655370}
.org-which-key-note{color:#2d9574}
.org-which-key-separator{color:#2d9574}
.org-which-key-special-key{color:#fbf8ef;background-color:#6c3163}
.org-whitespace-empty{color:#b1951d}
.org-whitespace-hspace{color:#d3d3d3;background-color:#cdc9a5}
.org-whitespace-indentation{color:#dc752f}
.org-whitespace-line{color:#6c4173}
.org-whitespace-newline{color:#6c4173}
.org-whitespace-space{color:#d3d3e7}
.org-whitespace-space-after-tab{color:#b1951d}
.org-whitespace-space-before-tab{color:#b1951d}
.org-whitespace-trailing{color:#dc752f;background-color:#e0211d}
.org-widget-button{font-weight:700}
.org-widget-button-pressed{color:red}
.org-widget-documentation{color:#006400}
.org-widget-field{background-color:#d9d9d9}
.org-widget-inactive{color:#7f7f7f}
.org-widget-single-line-field{background-color:#d9d9d9}
.org-window-divider{color:#999}
.org-window-divider-first-pixel{color:#ccc}
.org-window-divider-last-pixel{color:#666}